<h2>
<form action="/play" method="post">
  <label for="1">1</label>
    <input type="radio", name="bet", value ="1">
    <label for="2">2</label>
    <input type="radio", name="bet", value ="2">
    <label for="3">3</label>
    <input type="radio", name="bet", value ="3"> <br>
    <label for="4">4</label>
    <input type="radio", name="bet", value ="4">
    <label for="5">5</label>
    <input type="radio", name="bet", value ="5">
    <label for="6">6</label>
    <input type="radio", name="bet", value ="6"> <br>
    <label for="7">7</label>
    <input type="radio", name="bet", value ="7">
    <label for="8">8</label>
    <input type="radio", name="bet", value ="8">
    <label for="9">9</label>
    <input type="radio", name="bet", value ="9"> <br> 

    <input type="submit" value="spin">

</form>
</h2>