<div class="container">

<h1>RICH GAME</h1>


<div>
  <button type="button">PLAY</button>
</div>

<div class="joker">
  <img src="" alt="joker">
</div>

<div class="balance">
  <p>hellooo your balance is here please</p>
</div>
</div>
